.nftWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); /* Гибкая сетка */
  gap: 20px;
  position: absolute;
  bottom: 60px;
  justify-content: center; /* Центрируем контент */
  width: 90%; /* Занимает всю ширину */
  left: 50%;
  transform: translateX(-50%);
  place-items: center;
}


@media (min-width: 2000px) {
  .nftContainer {
    width: 250px;
    height: 250px;
  }
  .nftWrapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}  

.selectedNftContainer {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #ffcc00; /* Обводка */
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.8);
}

.selectedNftImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.selectedNftInfoContainer {
  width: auto;
  max-width: 400px;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 25%;
  transform: translateX(-50%);
}

.selectedNftInfoContainer h2 {
  font-size: 18px;
  color: white;
  margin-bottom: 8px;
}

.selectedNftInfoContainer p {
  font-size: 14px;
  color: white;
}

.selectedNftInfoContainer h3 {
  font-size: 16px;
  margin-top: 10px;
  color: #ffcc00;
}

.attributeList {
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin-top: 5px;
  color: white;
}

.selectedNftDescriptionContainer {
  width: auto;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  position: absolute;
  top: 10px;
  right: 25%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Расстояние между текстом и кнопкой */
}

/* Кнопка под контейнером */
.selectedNftButton {
  width: 100%;
  max-width: 200px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #ff9900, #ff6600);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.selectedNftButton:hover {
  background: linear-gradient(90deg, #ff6600, #ff3300);
  transform: scale(1.05);
}

.selectedNftButton:disabled {
  background: gray;
  cursor: not-allowed;
}

/* Анимация загрузки */
.loader {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.scrollableContainer {
  width: 100%;
  height: 250px; /* Фиксированная высота, чтобы работала прокрутка */
  overflow-y: auto; /* Включаем вертикальную прокрутку */
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.6);
  scrollbar-width: thin; /* Скрываем скроллбар в Firefox */
  scrollbar-color: #ffcc00 transparent; /* Цвет скроллбара */
  position: absolute;
  bottom: 0;
}

/* Стилизация скроллбара для Chrome, Edge и Safari */
.scrollableContainer::-webkit-scrollbar {
  width: 6px;
}

.scrollableContainer::-webkit-scrollbar-thumb {
  background: #ffcc00;
  border-radius: 4px;
}

.scrollableContainer::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.selectedNftDescriptionContainer h2 {
  font-size: 18px;
  color: white;
  margin-bottom: 8px;
}

@media (min-width: 2000px) {
  .selectedNftDescriptionContainer h2 {
    font-size: 26px;
  }
  .selectedNftInfoContainer {
    transform: translateX(-50%);
    max-width: 500px;
  }
  .selectedNftDescriptionContainer {
    max-width: 500px;
    transform: translateX(50%);
    font-size: 20px;
  }
  .selectedNftInfoContainer h2 {
    font-size: 26px;
  }
  .selectedNftInfoContainer p {
    font-size: 20px;
  }
  .selectedNftInfoContainer h3 {
    font-size: 22px;
  }
  .selectedNftContainer {
    width: 400px;
    height: 400px;
  }
}  

@media (max-width: 1450px) {
  .selectedNftInfoContainer {
      transform: translateX(-65%);
      max-width: 400px;
  }
  .selectedNftDescriptionContainer {
      max-width: 400px;
      transform: translateX(65%);
  }
}

@media (max-width: 1170px) {
  .selectedNftDescriptionContainer h2 {
    margin-bottom: -16px;
  }
  .selectedNftInfoContainer {
    transform: translateX(-70%);
    max-width: 300px;
    padding: 10px 30px;
  }
  .selectedNftDescriptionContainer {
    max-width: 300px;
    transform: translateX(70%);
  }
}

@media (max-width: 960px) {
  .selectedNftDescriptionContainer h2 {
    margin-bottom: -16px;
  }
  .selectedNftInfoContainer {
    transform: translateX(-75%);
    max-width: 200px;
  }
  .selectedNftDescriptionContainer {
    max-width: 200px;
    transform: translateX(75%);
  }
}

@media (max-width: 780px) {
  .scrollableContainer {
    bottom: 60px;
    height: 600px;
  }
  .selectedNftButton {
    position: absolute;
    width: 100%;
    max-width: 40%;
    top: 220px;
    right: 5%;
    padding: 12px 15px;
    box-sizing: border-box;
  }
  .selectedNftInfoContainer {
    background: transparent;
    right: 5%;
    left: auto;
    transform: translateX(0%);
    max-width: 400px;
    width: 40%;
    padding: 0px 15px;
    box-sizing: border-box;
  }
  .selectedNftContainer {
    left: 5%;
    transform: translateX(0%);
    width: 40%;
    /* height: auto; */
    aspect-ratio: 1 / 1;
  }
  .nftWrapper {
    top: 2px;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Всегда 3 элемента в ряд */
    gap: 25px;
    flex-wrap: nowrap; /* Разрешаем перенос, если не влезает */
    width: 60vw;
    justify-content: center; /* Центрируем */
    place-items: center;
  }
  .nftWrapper > * {
    width: 100%; /* Ячейка заполняет свою колонку */
    aspect-ratio: 1 / 1; /* Делаем ячейки квадратными */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1); /* Для наглядности */
  }
  
}  

@media (max-width: 400px) {
  .selectedNftButton {
    left: 2%;
    width: 47%; /* Фиксированная ширина */
    max-width: 200px;
    top: calc(20px + 47vw);
  }
  .selectedNftInfoContainer {
    right: 2%;
    width: 45%;
    height: auto;
  }
  .selectedNftContainer {
    left: 2%;
    width: 47%;
    box-sizing: border-box;
  }
}

@media (max-height: 950px) {
  .scrollableContainer {
    height: 500px;
  }
}
@media (max-height: 830px) {
  .scrollableContainer {
    height: 390px;
  }
}
@media (max-height: 715px) {
  .scrollableContainer {
    height: 280px;
  }
}
@media (max-height: 610px) {
  .scrollableContainer {
    height: 240px;
  }
}

@media (max-width: 500px) {
  .scrollableContainer {
    bottom: 50px;
  }
}
