.App {
  background-color: #0055ff;
  overflow: scroll; /* Сохраняет прокрутку */
  scrollbar-width: none; /* Убирает полосу в Firefox */
  -ms-overflow-style: none; 
}

.App::-webkit-scrollbar {
  display: none;
}

.AppHeader {
  position: fixed;
  left: 0;
  top: 0;
  height: 90px;
  width: calc(100vw - 40px);
  display: flex;
  background-color: black;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Элементы по краям */
  font-size: 50px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: nowrap;
  z-index: 1000;
}

.LogoImage {
  height: 100%;
  width: auto;
  aspect-ratio: 1 / 1;
  margin-right: 10px;
}

.LeftSection {
  height: 90px;
  display: flex; /* Размещаем img и span рядом */
  align-items: center; /* Выравниваем по вертикали */
  gap: 10px; /* Расстояние между элементами */
}

.NavButton {
  height: 50px;
  width: 100px;
  background: #ffcc00;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  color: #222;
}

.NavButton:hover {
  background: #ffdd44;
}

.BackButton {
  width: 50px;
  height: 50px;
  background: #555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  background-image: url("/backArrow.png"); /* Укажи путь к изображению */
  background-size: cover; /* Заполняет кнопку */
  background-position: center;
  background-repeat: no-repeat;
  
  transition: 0.3s ease-in-out;
}

.BackButton:hover {
  transform: scale(1.05); /* Немного увеличивается при наведении */
}

.RightSection {
  height: 90px;
  display: flex; /* Выравниваем кнопки в строку */
  align-items: center; /* Вертикальное выравнивание */
  gap: 5px; /* Расстояние между кнопками */
}


.welcomeTextContainer h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 8px;
}


.welcomeTextContainer {
  width: auto;
  max-width: 450px;
  background: transparent;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Расстояние между текстом и кнопкой */
}