.App {
  background-color: #0055ff;
  overflow: scroll; /* Сохраняет прокрутку */
  scrollbar-width: none; /* Убирает полосу в Firefox */
  -ms-overflow-style: none; 
}

.App::-webkit-scrollbar {
  display: none;
}

.AppHeader {
  position: fixed;
  left: 0;
  height: 90px;
  width: calc(100vw - 40px);
  display: flex;
  background-color: black;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Элементы по краям */
  font-size: 50px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: nowrap;
}

.LogoImage {
  height: 80%;
  width: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  margin-right: 10px;
}

.LeftSection {
  height: 90px;
  display: flex; /* Размещаем img и span рядом */
  align-items: center; /* Выравниваем по вертикали */
  gap: 10px; /* Расстояние между элементами */
}

.RightSection {
  height: 90px;
  display: flex; /* Выравниваем кнопки в строку */
  align-items: center; /* Вертикальное выравнивание */
  gap: 5px; /* Расстояние между кнопками */
}

