.App {
  background-color: #0055ff;
  overflow: scroll; /* Сохраняет прокрутку */
  scrollbar-width: none; /* Убирает полосу в Firefox */
  -ms-overflow-style: none; 
}

.App::-webkit-scrollbar {
  display: none;
}

.AppHeader {
  position: fixed;
  left: 0;
  top: 0;
  height: 90px;
  width: calc(100vw - 40px);
  display: flex;
  background-color: black;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Элементы по краям */
  font-size: 50px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: nowrap;
  z-index: 1000;
}

.LogoImage {
  height: 100%;
  width: auto;
  aspect-ratio: 1 / 1;
  margin-right: 10px;
}

.LeftSection {
  height: 90px;
  display: flex; /* Размещаем img и span рядом */
  align-items: center; /* Выравниваем по вертикали */
  gap: 10px; /* Расстояние между элементами */
}

.NavButton {
  height: 50px;
  width: 100px;
  background: #ffcc00;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  color: #222;
}

.NavButton:hover {
  background: #ffdd44;
}

.BackButton {
  width: 50px;
  height: 50px;
  background: #555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 36px;
  color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  line-height: 1; /* Убирает смещение стрелки */
  padding: 0; /* Убирает внутренние отступы, если есть */
  text-align: center; /* Центрирует символ */
}

.RightSection {
  height: 90px;
  display: flex; /* Выравниваем кнопки в строку */
  align-items: center; /* Вертикальное выравнивание */
  gap: 5px; /* Расстояние между кнопками */
}

