.NavBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-radius: 6px 6px 0 0;
    border-top: 2px solid #ffcc00; /* Обводка сверху */
    border-left: 2px solid #ffcc00; /* Обводка сверху */
    border-right: 2px solid #ffcc00; /* Обводка сверху */
    z-index: 1000;
    box-sizing: border-box;
}

.NavButton {
    width: 30%;
    height: 40px;
    background: #ffcc00;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.NavButton:hover {
    background: #ffdd44;
    transform: scale(1.05);
}

@media (max-width: 500px) {
    .NavBar {
        height: 50px;
    }
}
