.nftContainer { /* Контейнер для одной NFT */
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  gap: 40px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}


.nftImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid white;
  border-top: 4px solid #ffcc00;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tooltip {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  width: 200px;
  z-index: 1000;
  pointer-events: none;
  transform: translateY(-100%);
}

.attributeList {
  list-style: none;
  padding: 0;
  font-size: 12px;
  margin-top: 5px;
}
