.teamName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.teamInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.teamScore {
    font-size: 20px;
    font-weight: bold;
    color: #ffcc00;
}

.teamAlpha {
    font-size: 20px;
    font-weight: bold;
    color: #ffcc00;
}

.teamAlpha:hover{
    cursor: pointer;
    color: #cda400;
    text-decoration: underline;
}

.teamContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%; /* Заполняет всю высоту контейнера */
    min-height: 150px; /* Минимальная высота, чтобы блоки не съезжали */
}

@media (max-width: 820px) {
    .teamName {
        font-size: 18px; /* Делаем текст меньше */
        margin-bottom: 5px; /* Уменьшаем отступ */
        line-height: 1.1;
    }

    .teamScore {
        font-size: 16px;
        line-height: 1.1;
        margin-bottom: 2px; /* Минимальный отступ */
    }

    .teamAlpha {
        font-size: 16px;
        line-height: 1.1;
        margin-bottom: 2px;
    }

    .teamContent {
        min-height: 120px; /* Уменьшаем минимальную высоту */
        gap: 2px; /* Минимальное расстояние между строками */
    }
}


@media (max-width: 650px) {
    .teamName {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .teamScore {
        font-size: 14px;
    }

    .teamAlpha {
        font-size: 14px;
    }
    
}  