.teamName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.teamInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.teamScore {
    font-size: 20px;
    font-weight: bold;
    color: #ffcc00;
}

.teamAlpha {
    font-size: 20px;
    font-weight: bold;
    color: #ffcc00;
}

.teamAlpha:hover{
    cursor: pointer;
    color: #cda400;
    text-decoration: underline;
}

@media (max-width: 650px) {
    .teamName {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .teamScore {
        font-size: 12px;
    }

    .teamAlpha {
        font-size: 12px;
    }
    
}  