.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.username {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.infoItem {
    font-size: 20px;
    color: #ffcc00;
}

@media (max-width: 840px) {
    .avatar {
        width: 80px;
        height: 80px;
        margin-bottom: 3px;
    }

    .username {
        font-size: 20px;
        margin-bottom: 0px;
        line-height: 1.1; /* Уменьшаем высоту строки */
        margin-top: 0px;
    }

    .userInfo {
        gap: 1px; /* Минимальное расстояние между строками */
    }

    .infoItem {
        font-size: 16px; /* Делаем текст меньше */
        line-height: 1.1; /* Уменьшаем межстрочное расстояние */
        margin-top: 8px;
        margin-bottom: 0px; /* Минимальный отступ между строками */
    }
}
